project_vs2017/.vs
project_vs2017/obj
project_vs2017/bin
project_vs2017/packages

project_dotnetcore/Rockyfi/.vs
project_dotnetcore/Rockyfi/obj
project_dotnetcore/Rockyfi/bin
project_dotnetcore/Rockyfi/packages

project_dotnetcore/RockyfiTest/.vs
project_dotnetcore/RockyfiTest/obj
project_dotnetcore/RockyfiTest/bin
project_dotnetcore/RockyfiTest/packages

Rockyfi/.vs
Rockyfi/obj
Rockyfi/bin
Rockyfi/packages

RockyfiTests/obj
RockyfiTests/bin
RockyfiTests/packages

RockyfiFactory/.vs
RockyfiFactory/obj
RockyfiFactory/bin
RockyfiFactory/packages

/flex
/bin
/obj
/packages
/.vs
*.meta