Rockyfi/.vs
Rockyfi/obj
Rockyfi/bin
Rockyfi/packages

RockyfiTests/obj
RockyfiTests/bin
RockyfiTests/packages

RockyfiFactory/.vs
RockyfiFactory/obj
RockyfiFactory/bin
RockyfiFactory/packages

/flex
/bin
/obj
/packages
/.vs